.popup{
    position: fixed;
    /* top: 50%; */
    /* left: 50%; */
    width: 20%;
    /* height: 50%; */
    min-height: 30vh;
    /* background-color: rgba(0,0,0,0.2); */
    background-color:black;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.popup-inner{
    position: relative;
    padding:32px;
    /* width: 20%; */
    max-width: 100%;
    background-color: black;
    color: white;
}

.close-Btn{
    position: absolute;
    top: -40px;
    right: 16px;
}


